version: '2'
services:
    rabbit:
      image: docker.phorest.com/rabbitmq-server:latest
      environment:
        - "RABBITMQ_ERLANG_COOKIE=randomcookie"
        - "RABBITMQ_DEFAULT_USER=rabbit"
        - "RABBITMQ_DEFAULT_PASS=12345"
        - "RABBITMQ_DEFAULT_VIRTUAL_HOST=/"
      ports:
        - "19982:15672"
        - "19983:5672"
    testapp:
      build:
        context: .
      ports:
        - "19980"
      depends_on:
        - rabbit
      environment:
        - "SPRING_PROFILES_ACTIVE=amqp"
        - "SPRING_RABBITMQ_ADDRESSES=rabbit:5672"