version: '2.1'
services:
    rabbit:
      image: 613227801076.dkr.ecr.eu-west-1.amazonaws.com/rabbitmq-server:latest
      environment:
        - "RABBITMQ_ERLANG_COOKIE=randomcookie"
        - "RABBITMQ_DEFAULT_USER=rabbit"
        - "RABBITMQ_DEFAULT_PASS=12345"
        - "RABBITMQ_DEFAULT_VIRTUAL_HOST=/"
      ports:
        - "15672"
        - "5672"